<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section start -->
	<header class="header-area">
		<a href="{{ .URL | absURL }}" class="logo-area">
			<img class="img-fluid" src="/img/logo.png" alt="logo_prelima">
		</a>
		<div class="nav-switch">
			<i class="fa fa-bars"></i>
		</div>

		<nav class="nav-menu">
			<ul>
				{{ range .Site.Menus.header }}
				<li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
				{{ end }}
			</ul>
		</nav>
	</header>
	<!-- Header section end -->
