<!-- Projects section start -->
<div class="projects-section pb50">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="section-title">
          <h1>Proyectos</h1>
        </div>
      </div>
      <div class="col-lg-9">

        <ul class="projects-filter-nav">
          <li class="btn-filter" data-filter="*">Todo</li>
          {{ range where (where .Site.Pages "Section" "proyectos") "Kind" "taxonomy"}}
            <li class="btn-filter" data-filter=".{{ .Params.filtro }}">{{ .Title }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  <div id="projects-carousel" class="projects-slider">
    {{ range where .Data.Pages "Type" "proyectos" }}
    {{ .Render "proyecto_front" }}
    {{ end }}


  </div>
</div>
<!-- Projects section end -->
