<!-- Hero section start -->
	<section class="hero-section">

		<!-- hero slider area -->

		<div class="hero-slider">
      {{ range .slides }}
      <div class="hero-slide-item set-bg" data-setbg="{{ .imagen }}">
				<div class="slide-inner">
					<div class="slide-content">
					<h2>{{ .texto }}</h2>
          {{ if .enlace }}
                <a href="{{ .enlace }}" class="site-btn sb-light">{{ .texto_enlace }}</a>
          {{ end }}

					</div>
				</div>
			</div>
      {{ end }}


		</div>
		<div class="slide-num-holder" id="snh-1"></div>
		<div class="hero-right-text">PREFABRICADOS</div>
	</section>
	<!-- Hero section end -->
