<!-- Hero section start -->
	<section class="container-fluid h-100">

		<!-- hero slider area -->
		<div class="row h-100">

							  {{ range .slides }}
								<div class="col-12 p-0 h-100" style="background-image: url('{{ .imagen }}')">
		            <div class="h-100 text-center m-0 d-flex flex-column justify-content-center intro">
		                <h2>{{ .texto }}</h2>
										{{ if .subtitle }}
					                <h2>{{ .subtitle }} <span>{{ .accent }}</span></h2>
					          {{ end }}
		            </div>
								  {{ end }}
		        </div>
		</div>

	</section>
	<!-- Hero section end -->
