{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" "$.Site.Params.cloudinary_base_url/blog-index.jpg" "title" .Title ) }}

<section class="page-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-12">
          {{ range (.Paginator 3).Pages.ByPublishDate.Reverse }}

              {{ .Render "li"}}

          {{ end }}
          {{ partial "pagination" . }}
					<!-- Blog post -->



				</div>
				{{ partial "aside" . }}
			</div>
		</div>
	</section>

{{end}}
