{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" "/img/header-bg.jpg" "title" "Proyectos") }}


<!-- Page section start -->
<div class="page-section spad">
  <div class="container">
    <!-- portfolio filter menu -->
    <ul class="portfolio-filter">
      <li class="filter" data-filter="*">Todo</li>

          {{ range where (where .Site.Pages "Section" "proyectos") "Kind" "taxonomy"}}
              <li class="filter" data-filter=".{{ .Params.filtro }}">{{ .Title }}</li>


          {{ end }}



    </ul>
  </div>
  <!-- portfolio items -->
  <div class="portfolio-warp spad">
    <div id="portfolio">
      <div class="grid-sizer"></div>
      {{ range $i,$value:= where .Site.RegularPages "Section" "proyectos"}}

      <div class="grid-item set-bg {{ if eq ( mod $i 9 ) 0 }}grid-wide{{ end }} {{ if  eq ( mod $i 6 ) 5}}grid-long{{ end }} {{$value.Params.image}} {{$value.Params.filtro}}" data-setbg="{{ $value.Params.image }}"><a class="img-popup" href="{{  $value.Params.image  }}" data-source="{{ $value.Permalink }}" title="{{ $value.Params.title }}"></a></div>
      {{ end }}

    </div>
  </div>

</div>
<!-- Page section end -->


{{end}}
