{{ define "main" }}
{{ $image_url:= "https://res.cloudinary.com/prelima/image/upload/q_80/v1546190821/bg_proyectos.jpg" }}
{{ partial "jumbotron" (dict "imageUrl" $image_url "title" "Proyectos") }}




<section class="page-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-12">
          <div class="blog-post">
            <div class="blog-image mb-5">

                <img src="https://res.cloudinary.com/prelima/image/upload/{{ $.Param "image" }}" alt="">

            </div>
            <div class="blog-content">
              <div class="post-date">{{ .Date.Format "2006-01-02" }}</div>
              <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
              <p>{{ .Content }}</p>
            </div>
          </div>

				</div>
				{{ partial "aside" . }}
			</div>
		</div>
	</section>
{{ end }}
