{{ define "main" }}
{{ $image_url:= (print $.Site.Params.cloudinary_base_url $.Params.image) }}
{{ partial "jumbotron" (dict "imageUrl" $image_url "title" .Params.title) }}

<section class="page-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-12">
          {{ range (.Paginator 3).Pages.ByPublishDate.Reverse }}

              {{ .Render "li"}}

          {{ end }}
          {{ partial "pagination" . }}
					<!-- Blog post -->



				</div>
				{{ partial "aside" . }}
			</div>
		</div>
	</section>


{{ end }}
