{{ define "main" }}
{{ $image_url:= "https://res.cloudinary.com/prelima/image/upload/v1546190214/bg_blog.jpg" }}
{{ partial "jumbotron" (dict "imageUrl" $image_url "title" "Blog") }}

<section class="page-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-12">
          {{ range (.Paginator 3).Pages.ByPublishDate.Reverse }}

              {{ .Render "li"}}

          {{ end }}
          {{ partial "pagination" . }}
					<!-- Blog post -->



				</div>
				{{ partial "aside" . }}
			</div>
		</div>
	</section>


{{ end }}
