{{ define "main" }}
{{ $image_url:= "https://res.cloudinary.com/prelima/image/upload/v1546190214/bg_blog.jpg" }}
{{ partial "jumbotron" (dict "imageUrl" $image_url "title" "Blog") }}

<section class="page-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-12">
          <div class="blog-post">
            <div class="blog-image mb-5">

                <img src="https://res.cloudinary.com/prelima/image/upload/{{ $.Param "image" }}" alt="">

            </div>
            <div class="blog-content">
              <div class="post-date">{{ .Date.Format "2006-01-02" }}</div>
              <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
              <p>{{ .Content }}</p>
							{{with  $.Param "galeria"}}
									<div class="row">
								  		{{ range $.Param "galeria" }}



									<div class="imageGallery col-lg-4 col-xs-12 col-md-6">
										 <a data-fancybox="gallery" href="https://res.cloudinary.com/prelima/image/upload/{{ . }}" title="">
    								 	<img class="mb-3" src="https://res.cloudinary.com/prelima/image/upload/w_255,h_191,c_fill,g_auto{{ . }}">
										 </a>
									</div>



									{{ end }}
										</div>
  							{{ end }}
            </div>
          </div>

				</div>
				{{ partial "aside" . }}
			</div>
		</div>
	</section>
{{ end }}
